<template>
    <div class="home">
        <table>
            <thead>
            <tr>
                <th>Наименование площадки</th>
                <th>Офферы</th>
                <th>Ссылки и промокоды</th>
                <th>Тип трафика</th>
                <th>Клики</th>
                <th>CR%</th>
            </tr>
            </thead>

            <tbody>
            <template v-for="platform in platforms">
                <tr
                    v-if="!platform.opened"
                    class="platform__row"
                >
                    <td
                        class="row-name"
                        :class="{disabled: !platform.offers.length}"
                        @click="platform.opened = !platform.opened"
                    >{{ platform.name }}</td>
                    <td>{{ getPlatformTotalOffers(platform) }} {{ getOffersWord(getPlatformTotalOffers(platform)) }}</td>
                    <td>{{ getPlatformTotalLinks(platform) }} {{ getLinksWord(getPlatformTotalLinks(platform)) }}</td>
                    <td></td>
                    <td>{{ getPlatformTotalClicks(platform) }}</td>
                    <td>{{ getPlatformTotalCR(platform) }}</td>
                </tr>

                <template v-else>
                    <template v-for="(offer, offerIndex) in platform.offers">
                        <tr
                            v-if="!offer.opened"
                            class="offer__row"
                            :class="{'offer__row--header': offerIndex===0}"
                        >
                            <td
                                v-if="offerIndex===0"
                                class="row-name open"
                                @click="platform.opened = !platform.opened">{{ platform.name }}
                            </td>
                            <td v-else></td>
                            <td
                                class="row-name"
                                :class="{disabled: !offer.items.length}"
                                @click="offer.opened = !offer.opened"
                            >{{ offer.name }}
                            </td>
                            <td>{{ getOfferTotalLinks(offer) }} {{ getLinksWord(getOfferTotalLinks(offer)) }}</td>
                            <td></td>
                            <td>{{ getOfferTotalClicks(offer) }}</td>
                            <td>{{ getOfferTotalCR(offer) }}</td>
                        </tr>

                        <template v-else>
                            <template v-for="(item, itemIndex) in offer.items">
                                <tr
                                    class="item__row"
                                    :class="{'offer__row--header': offerIndex===0, 'item__row--header': itemIndex===0}"
                                >
                                    <td
                                        v-if="offerIndex===0 && itemIndex===0"
                                        class="row-name open"
                                        @click="platform.opened = !platform.opened"
                                    >{{ platform.name }}</td>
                                    <td v-else></td>
                                    <td
                                        v-if="itemIndex===0"
                                        class="row-name open"
                                        @click="offer.opened = !offer.opened"
                                    >{{ offer.name }}</td>
                                    <td v-else></td>
                                    <td>{{ item.links }}</td>
                                    <td>{{ item.type }}</td>
                                    <td>{{ item.clicks }}</td>
                                    <td>{{ item.cr }}</td>
                                </tr>
                            </template>
                        </template>
                    </template>
                </template>

            </template>
            </tbody>
        </table>
    </div>
</template>

<script>
import data from '../data/data.json';

export default {
    name: 'Home',

    data: () => ({
        platforms: [],
    }),

    beforeMount() {
        this.platforms = data;
        this.platforms.forEach(platform => {
            this.$set(platform, 'opened', false);
            platform.offers.forEach(offer => {
                this.$set(offer, 'opened', false);
            });
        });
    },

    methods: {
        getPlatformTotalOffers(platform) {
            return platform.offers.length;
        },

        getPlatformTotalLinks(platform) {
            return platform.offers.reduce((sum, offer) => {
                return sum + this.getOfferTotalLinks(offer);
            }, 0)
        },

        getPlatformTotalClicks(platform) {
            return platform.offers.reduce((sum, offer) => {
                return sum + this.getOfferTotalClicks(offer);
            }, 0)
        },

        getPlatformTotalCR(platform) {
            return platform.offers.reduce((sum, offer) => {
                return sum + this.getOfferTotalCR(offer);
            }, 0)
        },

        getOfferTotalLinks(offer) {
            return offer.items.length;
        },

        getOfferTotalClicks(offer) {
            return offer.items.reduce((sum, item) => {
                return sum + Number(item.clicks);
            }, 0)
        },

        getOfferTotalCR(offer) {
            return offer.items.reduce((sum, item) => {
                return sum + Number(item.cr);
            }, 0)
        },

        formatWordByCount(number, titles) {
            const cases = [2, 0, 1, 1, 1, 2];
            return titles[ (number%100>4 && number%100<20)? 2 : cases[(number%10<5)?number%10:5] ];
        },

        getOffersWord(number) {
            return this.formatWordByCount(number, ['оффер', 'оффера', 'оффеов']);
        },

        getLinksWord(number) {
            return this.formatWordByCount(number, ['ссылка', 'ссылки', 'ссылок']);
        },
    },
};
</script>

<style lang="scss">
html, body {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #a9a9ae;
}

thead {
    font-size: 14px;
    font-weight: bold;

    background: #F1F4F7;

    tr {
        border-bottom: 2px solid rgba(#0f1129, 0.7);
    }
}

tr {
    display: flex;
    align-items: center;

    &:nth-of-type(2n) td{
        background: rgba(#F1F4F7, 0.5);
    }

    &:not(:first-child) td{
        border-top: 1px solid #a9a9ae;
    }

    &.offer__row {
        &:not(.offer__row--header) td:nth-of-type(1),  {
            border: none;
            background: none;
        }
    }

    &.item__row {
        &:not(.offer__row--header) {
            td:nth-of-type(1) {
                border: none;
                background: none;
            }
        }
        &:not(.item__row--header) {
            td:nth-of-type(1), td:nth-of-type(2) {
                border: none;
                background: none;
            }
        }
    }
}

th, td {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    text-align: left;
    user-select: none;
}

.row-name {
    display: flex;
    align-items: center;

    font-weight: bold;
    cursor: pointer;

    &:before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        border: 2px solid #0f1129;
        border-radius: 4px;
        background: url(../assets/img/arrow.svg) no-repeat center center / 100% auto;
    }

    &.open:before {
        border-color: #224CA4;
        transform: rotate(-90deg);
    }

    &.disabled {
        pointer-events: none;
        color: rgba(#000, 0.5);
        &:before {
            opacity: 0.5;
        }
    }
}
</style>
